body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  color: var(--black);
  margin: 0 auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  min-width: 320px;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.display {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}

img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

p {
  font-size: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


