@import './vars';

.form {
  background-color: var(--blue);
  padding: 14px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  z-index: 1;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 40px;
    gap: 0px;
  }

  &__input {
    width: 200px;
    outline: none;
    background-color: var(--blue);
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 8px;
  }
  &__button {
    padding-top: 5.5px;
    padding-left: 5.5px;
    padding-right: 5.5px;
    padding-bottom: 4.5px;

    position: relative;
    left: 84px;
    top: -36px;
    color: var(--white);
    background-color: var(--blue);
    border: 1px solid white;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
  }
  &__icon {
    fill: var(--white);
  }
  &__select {
    font-size: 14px;
    color: var(--white);
    margin-top: -25px;
    margin-bottom: 5px;
    &--radio {
      padding: 4px;
      color: var(--white);
      font-size: 14px;
    }
  }
}

input[placeholder='Search images...'] {
  color: var(--white);
  font-size: 16px;
}

input::placeholder {
  color: var(--white);
}

@media screen and (min-width: 480px) {
  .form__input {
    width: 400px;
  }
  .form__button {
    left: 184px;
  }
}

@media screen and (min-width: 800px) {
  .form__input {
    width: 600px;
  }
  .form__button {
    left: 284px;
  }
}
