.loadMoreButton {
  background-color: var(--blue);
  color: var(--white);
  border-color: var(--blue);
  border-radius: 5px;
  border-width: 2px;
  font-size: 15px;
  padding: 5px 10px;
  margin-bottom: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: none;
  cursor: pointer;
  &:hover,
  &:focus {
    background-color: #3300cc;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.284);
  }

  &.visible {
    display: inline-block;
  }
}

@media screen and (min-width: 1000px) {
  .loadMoreButton {
    font-size: 18px;
  }
}
